@media (min-width: 768px) {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 transparent;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: none !important;
  }
}
